@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}


.chart-container {
    opacity: 0;
    transition: opacity 0.9s ease-in-out;
}

.chart-container.show {
    opacity: 1;
}



